/* Variáveis CSS */
:root {
    --primary-color: #2980b9;
    --secondary-color: #2c3e50;
    --accent-color: #e74c3c;
    --background-color: #f0f8ff;
    --font-family: 'Poppins', sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header, footer {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-weight: 600;
}

main {
    text-align: center;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

p {
    font-size: 18px;
    color: var(--secondary-color);
}

.game-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0;
}

.game-links a {
    text-decoration: none;
    color: inherit;
}

.game-card {
    background-color: #ffffff;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    width: 250px;
    margin: 15px;
    padding: 20px;
    transition: transform 0.2s, background-color 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.game-card:hover {
    transform: translateY(-10px);
    background-color: #ecf0f1;
}

.game-card h2 {
    margin-top: 10px;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 5rem;

}

.game-card p {
    color: #7f8c8d;
}

.svg-icon {
    margin: 0 auto;
}

footer p {
    margin: 0;
}

@media (min-width: 768px) {
    h1 {
        font-size: 6rem;    
    }
    
    p {
        font-size: 3rem;
    }

    .svg-icon svg {
        width: 150px;
        height: 150px;
    }

    .game-links {
        flex-direction: column;
        align-items: center;
    }

    .game-links a {
        text-decoration: none;
        color: inherit;
        display: flex;
        width: 100%;
    }

    .game-card {
        width: 100%;
        padding: 50px;
    }

}