/* Estilos para os elementos editáveis */
.term-item {
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 15px;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    max-width: 100%;
    /* box-shadow: 0px 0px 20px -10px; */

}

.edit-container select {
    border: 1px solid var(--primary-color);
    margin-bottom: 10px;
}

.term-item.duplicate {
    background-color: #ffe6e6;
}

.word-input {
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    border: none;
    padding: 0;

}

.clue-input {
    width: 100%;
    height: 60px;
    font-size: 16px;
    margin-bottom: 10px;
    border: none;
    padding: 0;
}

.specialties-select {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 200px;
    margin: 10px;
}

.specialties-select label {
    display: flex;
    margin-right: 10px;
    font-size: 1rem;
    color: var(--secondary-color);
    flex-direction: row;
    align-items: baseline;
    gap: 2px;
    width: 45%;
    text-align: justify;
}

.clue {
    font-size: 1.4rem;
    line-height: 1.5rem;
}

.specialties {
    font-size: 1rem;
    text-transform: uppercase;
}

.difficulty {
    /* margin-top: 5px; */
    font-weight: 700;
    font-size: 1rem;
}


/* button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 16px;
} */

.filter-options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:3px;
}

.filter-options label {
    margin-right: 5px;
}

.filter-options select,
.filter-options button {
    /* margin-right: 15px; */
    /* margin-bottom: 10px; */
    display: flex;
    font-size: 0.8rem;
    padding: 4px;
}

/* Estilos para o contador */
.counter {
    text-align: center;
    margin: 10px 0;
}

.counter p {
    font-size: 16px;
    font-weight: bold;
    color: #2c3e50;
    margin: 3px;
}

.vocabulary-list {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    overflow-y: auto;
    overflow-x: clip;
    gap: 10px;
    border-radius: 5px;
    padding: 10px;

}

/* width */
.vocabulary-list::-webkit-scrollbar {
    width: 30px;
  }
  
  /* Track */
  .vocabulary-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px grey; 
    border-radius: 15px;
  }
   
  /* Handle */
  .vocabulary-list::-webkit-scrollbar-thumb {
    background: var(--primary-color); 
    box-shadow:  0 0 5px white; 

    border-radius: 15px;
    height: 50px;
  }
  
 /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color); 
    box-shadow: inset 0 0 5px white; 

}

.view-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icons-container {
    gap: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 0px;
    transition: height 0.3s ease, visibility 0.2s ease, margin-top 0.3s ease;
    visibility: hidden;
    height: 0px;
}

.icons-container input {
    width: 1.2rem;
    height: 1.2rem;
}

/* Estilo para o modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* z-index: 1000; */
}

/* Conteúdo do modal */
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-height: 100%;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: auto;
}

/* Botão de fechar */
.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

/* Estilo para os campos do formulário */
#add-word-form label {
    display: flex;
    margin-top: 10px;
    color: var(--secondary-color);
    align-items: flex-start;
}

#add-word-form input[type="text"],
#add-word-form textarea,
#add-word-form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

#add-word-form button {
    margin-top: 15px;
    padding: 10px 15px;
    cursor: pointer;
}

/* Estilo para as especialidades dentro do modal */
.new-specialties label {
    display: block;
    margin-top: 5px;
    color: var(--primary-color);

}


